<p id="notice"><%= notice %></p>

<h1><%= @workshop.name %></h1>
<h4> a workshop by <%= User.find(@workshop.organizer_id).username %> </h4>

<% if false %>
<p>
  <strong>Name:</strong>
  <%= @workshop.name %>
</p>
<% end %>

<p>
  <strong>Category:</strong>
  <%= @workshop.category %>
</p>

<p>
  <strong>City:</strong>
  <%= @workshop.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @workshop.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @workshop.time %>
</p>

<p>
  <strong>Length:</strong>
  <%= @workshop.length %>
</p>

<p>
  <strong>Max partecipants:</strong>
  <%= @workshop.max_partecipants %>
</p>

<p>
  <strong>Price:</strong>
  <%= @workshop.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @workshop.location %>
</p>

<strong>Mappa: </strong>
<div style="display: inline-block; vertical-align: top; margin-left: 10px;">
  <iframe 
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAedQz45HHie8kinzZxcFbXkGGXGg34ues&q=<%= @workshop.location %>" 
    width="300" 
    height="300" 
    style="border:0" 
    allowfullscreen="" 
    loading="lazy">
  </iframe>
</div>


<p>
  <strong>Description:</strong>
  <%= @workshop.description %>
</p>

<br> There are <%= Booking.where(workshop_id: @workshop.id).count %> / <%= @workshop.max_partecipants %> partecipants <br>

<br>
<br>

<% if user_signed_in? && current_user.is_user? && 
    @workshop.organizer_id != current_user.id &&
    !current_user.bookings.where(workshop_id: @workshop.id).present?
%> 
  <%= link_to 'Book your spot', new_workshop_booking_path(@workshop) %> |
<% end %>

<% if can? :read, @booking %>
 <%= link_to 'Show your booking', workshop_booking_path(@workshop, @booking) %> |
<% end %>

<% if can? :destroy, @booking %>
 <%= button_to 'Cancel your booking', workshop_booking_path(@workshop, @booking), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>


<% if can? :update, @workshop %>
 <%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<% end %>

<% if can? :destroy, @workshop %>
 <%= button_to 'Cancel Workshop', @workshop, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<% if can? :read, Review %>
 <%= link_to 'See Reviews', workshop_reviews_path(@workshop) %> |
<% end %>

<% if (can? :create, Review) && !User.find(current_user.id).bookings.where(workshop_id: params[:id]).empty? %>
 <%= link_to 'Leave a Review', new_workshop_review_path(@workshop) %> |
<% end %>

<% if (can? :read, Booking) && @workshop.organizer_id == current_user.id %>
 <%= link_to 'See partecipants',  workshop_bookings_path(@workshop) %> |
<% end %>

 <%= link_to 'Back', workshops_path %> 
