<p id="notice"><%= notice %></p>

<h1><%= @workshop.name %></h1>

<% if false %>
<p>
  <strong>Name:</strong>
  <%= @workshop.name %>
</p>
<% end %>

<p>
  <strong>Category:</strong>
  <%= @workshop.category %>
</p>

<p>
  <strong>City:</strong>
  <%= @workshop.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @workshop.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @workshop.time %>
</p>

<p>
  <strong>Length:</strong>
  <%= @workshop.length %>
</p>

<p>
  <strong>Max partecipants:</strong>
  <%= @workshop.max_partecipants %>
</p>

<p>
  <strong>Price:</strong>
  <%= @workshop.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @workshop.location %>
</p>

<strong>Mappa</strong>
<div style="display: inline-block; vertical-align: top; margin-left: 10px;">
  <iframe 
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAedQz45HHie8kinzZxcFbXkGGXGg34ues&q=<%= @workshop.location %>" 
    width="300" 
    height="300" 
    style="border:0" 
    allowfullscreen="" 
    loading="lazy">
  </iframe>
</div>


<p>
  <strong>Description:</strong>
  <%= @workshop.description %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
