<p id="notice"><%= notice %></p>

<% if  !current_user.nil? && current_user.id == @booking.user_id %>

Hello, <%= User.find(@booking.user_id).username %>
<h3> This is your booking </h3> for <%= @workshop.name %>
on <%= @workshop.date %> 
<br>

<br>
<%= button_to 'Cancel your booking', workshop_booking_path(@workshop, @booking), method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<br>
<%= link_to 'Back to workshop',  workshop_path(@workshop) %>

<% if user_signed_in? %> 
  | <%= link_to "Your profile", user_path(current_user.id) %> 
<% end %>

<% end %>