<p id="notice"><%= notice %></p>
<% if user_signed_in? %> 
 <h1> Welcome <%= current_user.username %> </h1> 
<% end %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
  <br/>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if user_signed_in? %> 
  <%= link_to "Find workshop", workshops_path %> |
  <%= link_to 'Edit Profile', edit_user_registration_path(@user) %> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 

<% end %>
<%= link_to 'all users', users_path %>