
<% if false %>
<p id="notice"> Questo mostra messaggio di login duplicato se lasciato perchè ci sono notice in applicaiton.html.erb già<%= notice %></p>
<% end %>

<% if user_signed_in? %> 
 <h1> Welcome, <%= current_user.username %> </h1> 
<% end %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
  <br/>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <% if user_signed_in? && current_user.id==@user.id %>
  <% if ! Workshop.where( organizer_id: @user.id).empty? %>
  <h4> Workshops you are hosting: </h4>
  <table>
    <tbody>
      <% Workshop.where( organizer_id: @user.id).each do |workshop| %>
        <tr>
          <td><%= workshop.name %></td>
          <td><%= link_to 'Show', workshop %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

<h4> Your Bookings: </h4>
TO DO
<% end %>
</p>

<%= link_to "Find workshop", workshops_path %> 
<% if user_signed_in? && current_user == @user %>  
| <%= link_to 'Edit Profile', edit_user_registration_path(@user) %> 
  <br>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  <br>
  <% if current_user.is_admin? %> 
    <%= link_to 'all users', users_path %>
  <% end %>
<% end %>
