<h1>WorkshopFinder</h1>
<h3> Discover, learn, create &#x2764 </h3>

<% if user_signed_in? %> 
 <div> Welcome, <%= current_user.username %>
 <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
</div> 
<% else %>
  
  <%= button_to "Sign up", new_user_registration_path, method: :get %> 
  <%= button_to "Sign in", new_user_session_path %>

  <%- if false %>
  <%= button_to 'Sign in with Google', user_google_oauth2_omniauth_authorize_path, method: :post, :data => {turbo: "false"} %>
  <% end %>

<% end %>

<% if user_signed_in? %> 
  <%= link_to "Find workshop", workshops_path %> |
  <%= link_to "Your profile", user_path(current_user.id) %> 

<% end %>