<p id="notice"><%= notice %></p>


<p>
<strong>Review by:</strong> <%= User.find( @review.user_id).username %>
</p>
<p>
  <strong>Description:</strong> <%= @review.description %>
</p>

<% if  can? :update, @review %>
  <%= link_to 'Edit', edit_workshop_review_path(@review.workshop_id, @review) %> |
<% end %>
<% if  can? :destroy, @review %>
  <%= button_to 'Cancel Review', workshop_review_path(@workshop, @review), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>


<%= link_to 'Back to reviews', workshop_reviews_path %> |
<%= link_to 'Back to workshop',  workshop_path(@workshop) %>
