<!DOCTYPE html>
<html>
  <head>
    <title>WorkshopFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if false %>
    <% flash.each do |type, msg| %>
      <div>
      Notification: <%= msg %>
      </div>
    <% end %>
    <% end %>
 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <br>
    <% if not current_user.nil? %> 
    <b>Your Roles : </b> 
    <% if current_user.is_admin? %>
    admin
    <%end %>
    <% if current_user.is_user? %>
    user
    <%end %>
    <% if current_user.is_partecipant? %>
    partecipant
    <%end %>
    <% if current_user.is_organizer? %>
    organizer
    <%end %> 
    <%end %>

    <%= yield %>
    
  </body>
</html>
